doctype html
html
    head
        style
            include ../static/style.css
    body
        nav#navbar.top 
            ul
                div#logo 
                    img(src="/static/img/logo1.png")
                li #[a(href="/") Home] 
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class info]
                li #[a(href="/") Contact us]
    section#intro  
        div  Welcome to Dance Academy
        div.small  Anybody Can Dance  
    section#mission
        h2 Our Mission   
        div.card 
            h3 Dance Perfection
            div.cardbox 
                div.cardimage 
                    img(src="/static/img/logo2.png")
                div.cardcontent 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, modi dolore possimus quibusdam molestias eligendi! Voluptates temporibus dolore molestiae quod!    
        div.card 
            h3 World's best choreographer
            div.cardbox 
                div.cardimage 
                    img(src="/static/img/logo3.png")
                div.cardcontent 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, modi dolore possimus quibusdam molestias eligendi! Voluptates temporibus dolore molestiae quod!    
        div.card 
            h3 Expert Teaching
            div.cardbox 
                div.cardimage 
                    img(src="/static/img/logo4.png")
                div.cardcontent 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, modi dolore possimus quibusdam molestias eligendi! Voluptates temporibus dolore molestiae quod!    
        
    section#sponsors   
        h2 Our Sponsors 
        div#sponsor
            img(src="/static/img/adidas_PNG23.png", alt="Sponsor image",class="spimage")
            img(src="/static/img/hushpuppies.png", alt="Sponsor image",class="spimage")
            img(src="/static/img/thenorthface.png", alt="Sponsor image",class="spimage")   
    footer#footer 
        |  Copyright 2021 DanceAcademy.com All rights reseverd 

    script
      include ../static/index.js